body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(7ops.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
H1 {
  color: #f1f1f1;
  font-size: 3rem;
  text-align: center;
  
}

hr{
  height: 2rem;
  border-color: orange ;
  border-width: 3px;
  /* max-width: 6rem; */
  
}
.buffer{
  height: 3rem;
}

.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;

}
.btn-primary{
  background-color: #e06433;
  border-color: rgb(224, 100, 51);
}
.btn-xl{
  padding: 1rem 3rem;
}
